.hero {
  background-color: var(--neutral-1000);
}

.content {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.callToAction {
  flex: 1 0 50%;
  margin: auto 0;
  text-align: center;
}

.title {
  font-size: var(--text-5xl);
  margin-bottom: 0;
}

.paragraph {
  color: var(--neutral-300);
}

.button {
  display: block;
  margin: 2em auto;
  padding: 0.5em 1em;
  width: fit-content;
}

.image {
  flex: 1 0 50%;
  min-width: min(80vw, 300px);
}
