@use '../../styles/components';

.header {
  background-color: var(--neutral-900);
}

.content {
  align-items: center;
  display: flex;
  justify-content: right;
}

.logo {
  font-size: var(--text-lg);
  margin-right: auto;
  outline-offset: 0.1em;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: 2px solid var(--orange-400);
  }
}

.list {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.link {
  @include components.link;
  color: var(--neutral-200);
}

.cartLinkWrapper {
  position: relative;
}

.cartQuantity {
  background-color: var(--orange-300);
  border-radius: 50%;
  color: var(--neutral-800);

  // Size
  font-size: var(--text-sm);
  height: var(--text-normal);
  width: var(--text-normal);

  // Position
  position: absolute;
  transform: translateY(-25%);

  // Center text
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.srCartQuantity {
  position: absolute;
  left: -9999px;
}
