@use '../../styles/components';

.main {
  background-color: var(--neutral-800);
  min-height: 100vh;
  text-align: center;
}

.title {
  color: var(--neutral-50);
  font-size: calc(var(--text-5xl) * 3);
  margin-bottom: 0.25em;
}

.paragraph {
  color: var(--neutral-300);
  font-size: var(--text-normal);
}

.button {
  @include components.button;
  margin: 2em auto 0;
  width: fit-content;
}
